.conteudo{
    text-align: center;
    justify-content: center;
}

button{
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    }
.button:hover {
    background-color: rgba(193, 187, 187, 0.9);
}

h1{
    text-align: center;
    color: red;
}

body{
    background-color: black;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

